.footer-link a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: bold;
    line-height: 35px;
  }
  .footer-link a:hover {
    color: rgb(104, 0, 0);
    transition: 0.06s;
  }
  
  .gradient {
    background: lightgreen;
    background: linear-gradient(
      0deg,
      rgb(50, 132, 18) 0%,
      lightgreen
    );
  }
  .copyright {
    background-color: rgb(50, 132, 18);
  }
  
  .dropdown-menu.show {
    left: -126px;
    padding: 11px;
  }
  